DOMAIN="[http, https]://[url][:, None][port, None]" # http://127.0.0.1:8000, https://sqlr.kr

DB="redis://[[username]:[password]]@[domain]:[port]" # redis://sqlare:1234!@localhost:6379

API_KEY="your-key"
