DB="redis://[[username]:[password]]@[domain]:[port]" # redis://sqlare:1234!@localhost:6379

API_KEY="your-key"

####################################################################################################

DB_LOCATION="./db"

DB_PASSWORD="mypassword"
